syllable_analyzer/syllable/__pycache__/
syllable_analyzer/syllable/cantonese/__pycache__/
syllable_analyzer/syllable/japanese/__pycache__/
syllable_analyzer/syllable/korean/__pycache__/
syllable_analyzer/syllable/mandarin/__pycache__/
syllable_analyzer/syllable/vietnamese/__pycache__/
